

#maincontainer{
    font-family: "imperial";
    margin-left: 10%;
	margin-right: 10%;
	font-size: 17px;
}
.container{
	text-align: center;
	font-family: "cheltenham";

}

.panelName {
	font-family: "imperial";
	font-size: 37px;
	font-weight: bold;
}